model_flow.json
[{"id":"1b88037d.961bdd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f5d668c4.587fd8","type":"function","z":"1b88037d.961bdd","name":"pre token","func":"global.set(\"status1\",msg.payload.status1);\nglobal.set(\"adultMortality\",msg.payload.adultMortality);\nglobal.set(\"infant_deaths\",msg.payload.infant_deaths);\nglobal.set(\"percentage_expenditure\",msg.payload.percentage_expenditure);\nglobal.set(\"alcohol\",msg.payload.alcohol);\nglobal.set(\"hepatitis_b\",msg.payload.hepatitis_b);\nglobal.set(\"measles\",msg.payload.measles);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"polio\",msg.payload.polio);\nglobal.set(\"total_expenditure\",msg.payload.total_expenditure);\nglobal.set(\"diphtheria\",msg.payload.diphtheria);\nglobal.set(\"hiv_aids\",msg.payload.hiv_aids);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"population\",msg.payload.population);\nglobal.set(\"thinness_1_19_years\",msg.payload.thinness_1_19_years);\nglobal.set(\"thinness_5_9_years\",msg.payload.thinness_5_9_years);\nglobal.set(\"income_composition_of_resources\",msg.payload.income_composition_of_resources);\nglobal.set(\"schooling\",msg.payload.schooling);\n//global.set(\"under\",msg.payload.under);\n//following are required to receive a token\nvar apikey=\"XQZfJcTXchdfJHeyCKGXpl28D7OWaZBVOg1WMfrMokYj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":160,"wires":[["403792be.09683c"]]},{"id":"7337435b.603e0c","type":"ui_form","z":"1b88037d.961bdd","name":"","label":"","group":"915ee289.ce1a7","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Enter Status","value":"status1","type":"number","required":true,"rows":null},{"label":"Enter Adult_mortality","value":"adultMortality","type":"number","required":true,"rows":null},{"label":"Enter infant_deaths","value":"infant_deaths","type":"number","required":true,"rows":null},{"label":"Enter Percentage Expenditure","value":"percentage_expenditure","type":"number","required":true,"rows":null},{"label":"Enter Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Enter Hepatitis B","value":"hepatitis_b","type":"number","required":true,"rows":null},{"label":"Enter Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"Enter BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Enter Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Enter Total_expenditure","value":"total_expenditure","type":"number","required":true,"rows":null},{"label":"Enter Diphtheria","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"Enter HIV/AIDS","value":"hiv_aids","type":"number","required":true,"rows":null},{"label":"Enter GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Enter Population","value":"population","type":"number","required":true,"rows":null},{"label":"Enter Thinness _1_19 years","value":"thinness_1_19_years","type":"number","required":true,"rows":null},{"label":"Enter thinness _5_9 years","value":"thinness_5_9_years","type":"number","required":true,"rows":null},{"label":"Enter Income_composition_of_resources","value":"income_composition_of_resources","type":"number","required":true,"rows":null},{"label":"Enter Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","status1":"","adultMortality":"","infant_deaths":"","percentage_expenditure":"","alcohol":"","hepatitis_b":"","measles":"","bmi":"","polio":"","total_expenditure":"","diphtheria":"","hiv_aids":"","gdp":"","population":"","thinness_1_19_years":"","thinness_5_9_years":"","income_composition_of_resources":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":100,"wires":[["f5d668c4.587fd8"]]},{"id":"14a2a10f.3406ef","type":"http request","z":"1b88037d.961bdd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/5344ac7d-15a6-4e4c-a3ed-ac28bc2e84ac/deployments/1f5e2bd8-5641-4896-92c0-eafbbf1ea1af/online","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":260,"wires":[["70ec132e.bceffc","885833e7.27cca"]]},{"id":"885833e7.27cca","type":"function","z":"1b88037d.961bdd","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["54665270.2b9dcc"]]},{"id":"70ec132e.bceffc","type":"debug","z":"1b88037d.961bdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":200,"wires":[]},{"id":"6e7f412e.27bc","type":"function","z":"1b88037d.961bdd","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"5344ac7d-15a6-4e4c-a3ed-ac28bc2e84ac\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"status1\");\nvar b = global.get(\"adultMortality\");\nvar c = global.get(\"infant_deaths\");\nvar d = global.get(\"alcohol\");\nvar e = global.get(\"percentage_expenditure\");\nvar f = global.get(\"hepatitis_b\");\nvar g = global.get(\"measles\");\nvar h = global.get(\"bmi\");\n//var i=global.get(\"under\");\nvar j = global.get(\"polio\");\nvar k = global.get(\"total_expenditure\");\nvar l = global.get(\"diphtheria\");\nvar m = global.get(\"hiv_aids\");\nvar n=global.get(\"gdp\");\nvar o = global.get(\"population\");\nvar p = global.get(\"thinness_1_19_years\");\nvar q = global.get(\"thinness_5_9_years\");\nvar r = global.get(\"income_composition_of_resources\");\nvar s=global.get(\"schooling\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Status\",\"Adult_Mortality\",\n\"infant_deaths\",\"Alcohol\",\n\"percentage expenditure\",\"Hepatitis B\",\n\"Measles\",\"BMI\",\"Polio\",\n\"Total expenditure\",\"Diphtheria\",\n\"HIV/AIDS\",\"GDP\",\"Population\",\n\"thinness  1-19 years\",\"thinness 5-9 years\",\n\"Income composition of resources\",\n\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,j,k,l,m,n,o,p,q,r,s]]};\nreturn msg;\n","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["14a2a10f.3406ef","da5a393c.f2a168"]]},{"id":"403792be.09683c","type":"http request","z":"1b88037d.961bdd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":160,"wires":[["6e7f412e.27bc"]]},{"id":"54665270.2b9dcc","type":"ui_text","z":"1b88037d.961bdd","group":"915ee289.ce1a7","order":3,"width":0,"height":0,"name":"","label":"Predicted Value:","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":400,"wires":[]},{"id":"da5a393c.f2a168","type":"debug","z":"1b88037d.961bdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":400,"wires":[]},{"id":"915ee289.ce1a7","type":"ui_group","z":"","name":"Predict your Lifetime","tab":"35fee5e5.33ef6a","order":1,"disp":true,"width":"6","collapse":false},{"id":"35fee5e5.33ef6a","type":"ui_tab","z":"","name":"Life Expectancy Model","icon":"dashboard","disabled":false,"hidden":false}]